.page {
  background: #eaeaea;
  width: 90vh;
  max-width: 1170px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;
}

.page h1 {
  color: black;
  font-size: 16px;
}

.page span {
  text-transform: uppercase;
  color: gray;
  margin-left: 2rem;
}
.page article {
  margin: 0 2rem;
}
.page div {
  height: 15rem;
}

@media screen and (min-width: 768px) {
  .page {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 994px) {
  .page {
    grid-template-columns: repeat(4, 1fr);
  }
}
